/* Google Fontss */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,700&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Variables*/
:root{
    --primary-color:#1a1e21;
    --second-color:#9fef00;
    --third-color:#0f0f0f;
    --text-color:#ffffff;
    --code-color: #bdbdbd;
}
::selection{
    color: var(--primary-color);
    background: var(--second-color);
}
::-webkit-scrollbar{
    width: 1vw;
    height: 1.1vw;
}
::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
    border-radius: 1vw;
}
::-webkit-scrollbar-corner{
    display: none;
}
a{
    text-decoration: none;
}
b{
    margin-right: 8px;
}
pre{
    margin: 10px 0 10px;
    padding: 15px;
    width: auto;
    background: var(--primary-color);
    color: var(--text-color);
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    overflow: auto;
}
pre::-webkit-scrollbar{
    height: 0.8vw;
}
pre::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
    border-radius: 0.8vw;
}
pre span{
    color: var(--second-color);
    margin-right: 15px;
}
li{
    list-style: none;
}
img{
    display: block;
    max-width:800px;
    max-height:595px;
    width: auto;
    height: auto;
}
section{
    padding: 3rem 2rem 3rem;
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: var(--primary-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
}
/*header.shadow{
    background: var(--primary-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.3s;
}*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
ul{
    position:relative;
    align-items:center;
    display: flex;
}
li{
    padding: 8px 14px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 500;
}
li a{
    color: var(--text-color);
    column-gap: 1rem;
}
li a:hover{
    color: var(--second-color);
    transition: 0.3s;
}
.toggle-button {
    position: absolute;
    color: var(--second-color);
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.fa-bars{
    display: none;
}
#icon{
    top: 0.0;
    right: 2.5rem;
    width: 30;
    cursor: pointer;
    position: absolute;
}
.banner{
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
}
.banner-home{
    color: var(--second-color);
    cursor: pointer;
}
@keyframes cursor-blink {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.banner-dir{
    color: var(--text-color);
}
.banner-cursor{
    position: absolute;
    width: 10px;
    height: 1.2rem;
    margin: 2px 5px;
    background: var(--second-color);
    display: inline-block;
    animation: cursor-blink 1s ease infinite;
}

body{
    background: var(--primary-color);
}
/* Home */
#particles-js{
    background:#1a1e21;
}
.particles-js-canvas <ion-icon name="reorder-three"></ion-icon>-el{
    height: 480px;
}
section.home{
    padding: 0;
}
.home{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: auto;
}
.home-text{
    width: auto;
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: 2px 2px hsl(355deg 25% 15% / 10%);
}
.home-title{
    color:var(--second-color);
    font-size: 3.5rem;
}
.home-subtitle{
    font-size: 1.2rem;
    font-weight: 400;
}
/* Post Filters */
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
    overflow: show;
}
.filter-item{
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 10px;
    background-color: var(--container-color);
    box-shadow: var(--container-color);
    border-radius: 4px;
}
.active-filter{
    background: var(--second-color);
    color: var(--primary-color);
    padding: 4px 10px;
    border-radius: 4px;
}
/* Posts */
.post.container{
    background: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,280px));
    justify-content: center;
    gap: 1.5rem;
}
.post-box{
    background: var(--third-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.category{
    position:relative;
    top: -187px;
    left: 13px;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
    padding: 4px 10px;
    border-radius: 4px;
    background: var(--third-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);/*box-shadow: #1a1e21;*/
}
.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /* To remain title in 2 lines*/
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-date{
    color: var(--text-color);
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
.post-description{
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0px 10px;
    /* To limit desc in 3 lines*/
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
p span{
    color: var(--text-color);
}
/* Footer */
.footer{
    background-color: var(--primary-color);
    z-index: 1;
    padding: 30px ;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    font-size: 0.938rem;
    color: var(--text-color);
}
.social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.social .bx{
    font-size: 1.4rem;
    color: var(--text-color);
}
.social .bx:hover{
    color: var(--second-color);
    transition: 0.3s all linear;
}
/* Post Content*/
.identitas{
    color: var(--second-color);
    display: flex;
    column-gap: 5rem;
    margin: 30px;
    align-items: center;
    justify-content: center;
}
.post-header{
    width: 100%;
    height: 500px;
    background: var(--primary-color);
}
.bx-calendar{
    margin-right: 8px;
}
.date{
    color: var(--code-color);
    margin: 10px;
    font-size: 15px;
}
.post-container{
    max-width: 1000px;
    width: 100%;
    object-position: center;
    
    margin-bottom: 2rem;
    display: flex;
}
.post-paragraph{
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}
.post-paragraph img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.img-desc{
    font-size: 15px;
    color: var(--code-color);
    margin: 10px;
    margin-left: 5rem;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
}
.content-box{
    background: var(--third-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    align-items: center;
    max-width: 940px;
    padding: 35px;
    border-radius: 27px;
    margin: auto;
}
.back-home{
    color: var(--second-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.header-title{
    width: 90%;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}
.header-img{
    width: 100%;
    height: 100%;
    border-radius: 17px;
    object-fit: cover;
    object-position: center;
}
.post-content{
    margin: 7rem 7rem 2rem!important;
}
.sub-heading{
    font-size: 1.2rem;
    margin: 1rem 0;
}
.post-text{
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin: 0.5rem 0;
    text-align: justify;
}
.img-code{
    max-width: 575px;
    height: auto;
}
.latihan{
    font-size: 14px;
    line-height: 1.5rem;
}
.latihan span{
    color: var(--second-color);
    margin-right: 5px;
}
/*Share*/
.share{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0;
    row-gap: 1rem;
}
.share-title{
    color: #ffffff;
    font-size: 1.1rem;
}
/*Responsive*/
@media (max-width: 1080px) {
    .container{
        margin: 0 auto;
        width: 95%;
    }
    .post-content{
        margin: 6rem 4rem  2rem!important;
    }
    .home-text{
        width: 100%;
    }
}
@media (max-width: 950px) {
    .content-box{
        width: 100%;
   }
   .post-text{
        font-size: 95%;
        line-height: 1.2rem;
   }
}
@media (max-width: 800px) {
    section{
        padding: 1rem;
    }
    .content-box{
        padding: 20px;
    }
    .nav{
        padding: 14px 0;
    }
    .post-container{
        width: 95%;
    }
}
@media (max-width: 768px) {
    .nav{
        padding: 10px 0;
    }
    .home{
        min-height: 380px;
    }
    .home-title{
        font-size: 3rem;
    }
    .header-title{
        font-size: 1.4rem;
    }
    .date{
        font-size: 12px;
    }
    .header-img{
        height: auto;
    }
    .post-header{
        height: 435px;
    }
    .post-paragraph{
        font-size: 90%;
        line-height: 1.2rem;
    }
    .post-content{
        margin: 4rem 2rem 2rem !important;
    }
}
@media (max-width: 725px) {
    .identitas{
        column-gap: 1.5rem;
    }
}
@media (max-width: 687px) {
    .post-filter{    
        justify-content: center;
        align-items: center;
        margin-top: 2rem !important;
        flex-direction:column;
        row-gap: 0.5rem;
        overflow: visible;
    }
}
@media (max-width: 610px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links ul li {
        text-align: center;
    }
    .navbar-links.active {
        display: flex;
        margin-top: 23px;
    }
}
@media (max-width: 570px) {
    .nav{
        display: block;
        flex-direction: column;
        align-items: flex-start;
    }
    .post-header{
        height: 350px;
    }
    .header-title{
        width: 100%;
    }
    .post-content{
        margin-top: 5rem !important;
    }
    .footer{
        margin-top: 3rem;
        flex-direction: column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .home-title{
        font-size: 2.5rem;
    }
    .img-desc{
        font-size: 13px;
    }
}
@media (max-width: 450px) {
    pre{
    padding: 10px;
}
}

@media (max-width: 420px) {
    .home{
        min-height: 300px;
    }
    .home-title{
        font-size: 2rem;
    }
    .home-subtitle{
        font-size: 0.9rem;
    }
    .post-header{
        height: 300px;
    }
    .post-container{
        margin: 0 auto;
        width: 95%;
    }
    .post-content{
        margin-top: 5rem !important;
    }

}
@media (max-width: 393px) {
    .home-title{
        font-size: 2rem;
    }
    .home-subtitle{
        font-size: 0.9rem;
    }
    .post-header{
        height: 300px;
    }
    .post-container{
        margin: 0 auto;
        width: 95%;
    }
    .post-content{
        margin-top: 5rem !important;
    }
}